.home {
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.first-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.normal-link {
  text-decoration: none;
  color: black;
}

.search-container {
  display: flex;
  align-items: center;
  width: 500px;
  border: 2px solid orange;
  border-radius: 20px;
  overflow: hidden;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.search-button {
  background-color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.search-button img {
  width: 20px;
  height: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.icon-container {
  padding-left: 3px;
  padding-right: 3px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.main-banner {
  padding: 20px;
  background-color: #f1f1f1;
}

.price {
  color: red;
}
.price small {
  color: gray;
}

nav {
  background-color: #ffffff;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 700px;
}

.category {
  margin-right: 20px;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
}

.category.active {
  border-bottom-color: orange;
}

.category a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold; /* Added font-weight rule */
}

.arrow-down {
  margin-left: 5px;
  font-size: 10px;
}
.all-department {
  background-color: orange;
  height: 60px;
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  border-radius: 30px 30px 0 0;
}

.all-department-text {
  margin: 0; /* Remove default margin to avoid extra spacing */
}

.price {
  font-weight: bold; /* Added font-weight rule */
}

.big-image-center-cont {
  margin-top: 100px;
  text-align: center;
}

.second-image {
  display: flex;
  margin-right: auto;
}

.separator {
  width: 50px;
  height: 5px;
  background: orange;
  margin: 0 auto;
}

.icon-badge {
  background: orange;
  width: 25px;
  position: absolute;
  bottom: -12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  right: -10px;
}
